*{
	margin: 0;
	padding: 0;
}
body{
	background: #f2f2f2;
}
.sign_up_head{
	width: 100%;
	height: 150px;
	background: #fff;
	height: 84px;
	padding-left: 80px;
	margin-bottom: 50px;
}

.box{
	width: 40%;
	/* height: 425px; */
	border: 1px solid #e1e1e1;
	padding-top: 30px;
	padding-left: 84px;
	margin: 0 auto;
	background: #fff;
}
.box p{
	font-size: 14px;
	color: #999;
	margin-top: 10px;
}
.star{
	color: red;
}
label{
	font-size: 14px;
	color: #646464;
	text-align: right;
}
.inu{
	font-size: 12px;
	color: #818181;
}
input{
	margin-bottom: 30px;
}
#user_in{
	border: 1px solid #e1e1e1;
	width: 290px;
	height: 12px;
	padding-top:  10px;
	padding-bottom: 10px;
	padding-left: 3px;
	padding-right: 10px;
	background: url(../images/idIcon.png) no-repeat right;
}
#user_pwd,#user_rpwd,#code{
	border: 1px solid #e1e1e1;
	height: 12px;
	padding-top:  10px;
	padding-bottom: 10px;
	padding-left: 3px;
	padding-right: 10px;
	background: #fff;
}
#user_pwd,#user_rpwd{
	width: 290px;
	background: url(../images/passwordIcon.png) no-repeat right;
}
#read{
	font-size: 12px;
	font-family: "微软雅黑";
	margin-left: 5px;
}
#rr{
	margin-left: auto;
	margin-right: auto;
}
#read a{
	color: #005aa0;
	text-decoration: none;
}

#lg_button{
	clear: both;
	display: block;
	width: 270px;
	height: 37px;
	margin-left: 100px;
	color:#fff;
	background: #f68e55;
	/* outline: none; */
	font-weight: 700;
	font-size: 16px;
	cursor: pointer;
	border:1px #f68e55;
	border-radius: 4px;
}
.goto{
	width: 100%;
	text-align: center;
	font-size: 12px;
	margin: 20px ;
}
.goto span{
	color:#646464;
}
.goto a,#forget a{
	text-decoration: none;
	color:#005aa0;
}
#forget{
	width: 100%;
	text-align: center;
	font-size: 12px;
	color:#005aa0;
}